{{!< default}}

{{#post}}

    {{#if image}}
        <div id="feature_image" class="horz show">
            <div class="inner" style="background-image: url('{{image}}')">
                <img src="{{image}}">
            </div>
        </div>
    {{/if}}

    <article role="main" class="{{#if image}}image{{/if}}">
        <header>
            <a href="{{@blog.url}}" id="home_link">«</a>
            <div class="meta"><time datetime="{{date format='YYYY-MM-DD'}}"><a href="{{url}}">{{date format="MMMM DD, YYYY"}}</a></time> <span class="count" id="js-reading-time"></span></div>
            <h1>{{title}}</h1>
        </header>

        <div class="text" id="js-post-content">
            {{content}}
        </div>

        <menu>
            <a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" id="btn_comment" class="btn" target="_blank">
                <span aria-hidden="true" data-icon="C"></span> Comment on Twitter
            </a>
        </menu>


    {{#author}}
        <footer role="contentinfo">

            <div class="vcard">
                <a href="{{@blog.url}}/rss" id="btn_feed" class="btn" title="Feed" target="_blank">
                    <span aria-hidden="true" data-icon=")"></span>
                    <strong>Feed</strong>
                </a>

                {{#if image}}
                <a href="{{url}}" class="photo">
                    <span style="background-image: url('{{image}}');">
                        <img src="{{image}}" alt="{{name}}">
                    </span>
                </a>
                {{/if}}

                <div class="details">
                    <h4><a href="{{url}}" class="url n">{{name}}</a></h4>
                    {{#if location}}{{location}}<br>{{/if}}
                    {{#if website}}<a href="{{website}}" class="js-remove-domain-schema">{{website}}</a>{{/if}}
                </div>
            </div>

            <div id="user_bio">
                <div class="inner">
                    {{!-- TODO: Parse HTML for links --}}
                    {{bio}}
                </div>
            </div>

        </footer>
    {{/author}}

    </article>

{{/post}}

{{!-- TODO: Add next/prev posts --}}